body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #0F214F;

}
html{
  font-size: 62.5%;

}
a{
  text-decoration: none;
  color: #f1f5fd;
}
h1,
h2,
h3,h4,h5,h6{
  color: #0F214F
}
.navbar-bg{
  background-color: #f1f5fd;
  padding: 2rem 0;
  z-index: 99;
  position: relative;
}
.navbar-brand{
   font-size: 1.7rem !important;
   padding-left: 16rem ;
   color: #FBB667 !important;
}
.navbar li{
  padding:0 1.5rem;

}
.navbar li a{
  font-size:1.7rem;
  color: #B6B6B6 !important;
  padding-right: 16rem !important;
  font-weight: normal;
}
.navbar li a:hover{
  
  color:#FBB667 !important;
  text-shadow: 0 0.2rem 0.3rem #FBB667;
}
.div-button:hover{
    border: 0.1rem #FBB667;
    background-color: transparent ;
    
}
header{
  background-color: white;
  min-height: 100vh;
  width: 100%;
}
.main-hero-container{
   height: 80vh;
   display: flex;
}
.main-hero-container h1{
  text-transform: capitalize;
  font-weight: bold;
}
.main-hero-para{
  font-size: 20 rem;
  color:#3D3D3D;
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}
.main-herosection-images img{
  width: 100%;
  height: 90%;
  margin-top: 10rem;
  
  border-radius:  1.5rem;
}
.input-group{
  position: relative !important ;
}
input[type="text"].form-control-text{
  position: absolute;
  height: 5rem;
  outline-style: none;
  padding-left: 1.5rem !important;
  background-color: #ffffff;
  font-size: 1.4rem;
  font-weight: lighter;
}
input[value]{
  color:#FBB667;
  }
.input-group-button{
  position: absolute;
  
  right: 51%;
  top: 0.5rem;
  color:#FFFFFF ;
  background-color:#FBB667 ;
  
  height:  4rem;
  width: 10rem;
  border-radius: 90px !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.input-group-button :hover{
  color: #FBB667;
}



@media (min-width: 1500px){
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
    max-width: 1500px !important;
  }
}
@media (min-width: 1400px){
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
    max-width: 1400px;
  }
}